*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    background-color: black;
    margin: 0;
    color: white;
}

.choice:hover{
    transition: transform .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.choice img{
    
    border: 2px solid black;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 50px;
}

/* Score Board */

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;

}
#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}